@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap");

// colors
$primary-color-dark: #1f1f1f;
$primary-color: #2f2f2f;
$color: #f4f4f4;
$color-orange: #ffaa00;

// font
$font-family: "Cairo", sans-serif;
$font-weight: 700;
$font-size: 16pt;

// padding
$padding-5: 5px;
$padding-10: 10px;
$padding-16: 16px;

// margin
$margin-5: 5px;
$margin-10: 10px;
$margin-16: 16px;
$margin-20: 20px;

// width
$width-100: 100%;

// height
$height-100: 100%;